@{
    ViewData["title"] = "Success";
    Layout = "_Template";
}

<h1>Đặt dịch vụ thành công</h1>
<h5>Bạn vui lòng đến cơ sở dịch vụ Văn Phán để thanh toán hoặc đặt cọc trong vòng 3 ngày kể từ ngày đặt hàng!</h5>