
<div class="left-sidebar">
    <h2>Trật tự món</h2>
	<div class="brands_products">
		<div class="panel-group category-products" id="accordian">
			<vc:food-sequence></vc:food-sequence>
		</div><!--/category-products-->
	</div>
	<h2>Các loại món</h2>
	<div class="brands_products">
		<div class="panel-group category-products" id="accordian">
			<vc:food-categories></vc:food-categories>
		</div><!--/category-products-->
	</div>
</div>