<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Home | Dịch vụ tiệc cưới Văn Phán</title>
	<link href="~/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
	<link href="~/css/prettyPhoto.css" rel="stylesheet">
	<link href="~/css/price-range.css" rel="stylesheet">
	<link href="~/css/animate.css" rel="stylesheet">
	<link href="~/css/main.css" rel="stylesheet">
	<link href="~/css/responsive.css" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<link rel="shortcut icon" href="images/ico/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
	
	<style>
    .password-input-wrapper {
        position: relative;
    }

    .toggle-password {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
    }
</style>
</head><!--/head-->

<body>
	<header id="header">
		<!--header-->
		<div class="header_top">
			<!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +84 982 114 346</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> dvtc.vanphan@gmail.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
		
		<div class="header-middle">
			<!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<img src="~/images/vanphan.png" />
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<li><a asp-controller="Cart"><i class="fa fa-shopping-cart"></i> Giỏ hàng</a></li>

								@if(User.Identity?.IsAuthenticated ?? false)
								{
									<li><a href="#"><i class="fa fa-lock"></i>Chào @User.Identity.Name</a></li>
								
									<li class="dropdown">
										<a href="#"><i class="fa fa-user"></i>Tài Khoản<i class="fa fa-angle-down"></i></a>
										<ul role="menu" class="sub-menu">
											<li><a asp-controller="Account" asp-action="Profile" style="background: none">Thông tin cá nhân</a></li>
											<li><a asp-controller="Account" asp-action="EditProfile" style="background: none">Cập nhật thông tin cá nhân</a></li>
											<li><a asp-controller="Order" asp-action="IndexOrder" style="background: none">Lịch sử đặt hàng</a></li>
											<li><a asp-controller="Order" asp-action="Index" style="background: none">Chi tiết đặt hàng</a></li>
											<li><a asp-controller="Order" asp-action="IndexParty" style="background: none">Lịch sử đặt tiệc</a></li>
											<li><a asp-controller="Order" asp-action="IndexCard" style="background: none">Lịch sử đặt thiệp</a></li>
											<li><a asp-controller="Account" asp-action="Logout" style="background: none">Đăng xuất</a></li>
										</ul>
									</li>
									<li><a href="#"><i class="fa fa-star"></i> Yêu thích</a></li>
									
								}
								else
								{
									<li><a asp-controller="Account" asp-action="Login"><i class="fa fa-lock"></i> Đăng nhập/Đăng ký</a></li>
								}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->

		<div class="header-bottom ">
			<!--header-bottom-->
			<div class="header-bottom-border">
				<div class="container">
				<div class="row">
					<div class="col-sm-9">
						
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a asp-controller="Home" class="active">Trang chủ</a></li>
								<li><a asp-controller="Introduce" class="active">Giới thiệu</a></li>
								<li class="dropdown">
									<a href="#">Dịch vụ<i class="fa fa-angle-down"></i></a>
									<ul class="sub-menu">
										<li><a asp-controller="DatTiec" asp-action="Create">Đặt tiệc</a></li>
										<li><a asp-controller="OrderCard" asp-action="Create">Đặt thiệp cưới</a></li>
										<li><a asp-controller="Food">Các món ăn</a></li>
										<li><a asp-controller="Menu">Thực đơn</a></li>
										<li><a asp-controller="WeddingCard">Mẫu thiệp cưới</a></li>
										<li><a asp-controller="OtherServices">Các dịch vụ</a></li>
										<li><a asp-controller="Cart">Giỏ hàng</a></li>
									</ul>
								</li>
								<li class="dropdown">
									<a href="#">Blog<i class="fa fa-angle-down"></i></a>
									<ul role="menu" class="sub-menu">
										<li><a>Đánh giá dịch vụ</a></li>
										<li><a >Blog Single</a></li>
									</ul>
								</li>
								<li><a href="contact-us.html">Liên Hệ</a></li>
							</ul>
						</div>
					</div>
						@using (Html.BeginForm("TimKiem", "Home", FormMethod.Get))
						{
							<div class="col-sm-3">
								<input type="search" name="query" placeholder="Nhập từ khóa" />
								<button class="btn-search">Tìm kiếm</button>
							</div>
						}
						
				</div>
			</div>
			</div>
		</div><!--/header-bottom-->
		
		<!--/header-slider-->
		<section id="slider">
		<div class="row">
			<div class="col-sm-12">
				<div id="slider-carousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
						<li data-target="#slider-carousel" data-slide-to="1"></li>
						<li data-target="#slider-carousel" data-slide-to="2"></li>
					</ol>

					<div class="carousel-inner">
							<div class="item active">
							<div class="col-sm-8">
								<img src="./images/anh5.jpg" />
							</div>
						</div>
							<div class="item">
							<div class="col-sm-8">
									<img src="./images/anh1.jpg" />
							</div>
						</div>

							<div class="item">
							<div class="col-sm-8">
									<img src="./images/anh4.jpg" />
							</div>
						</div>

					</div>

				</div>

			</div>
		</div><!--/header-slider-->
		</section>
	</header><!--/header-->



	<section>
		<div class="container">
			<div class="row">
				@Html.Partial("_NotificationPartial")
				@RenderBody()
			</div>
		</div>
	</section>

	<footer id="footer">
		<!--Footer-->
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="single-widget">
							<img src="~/images/logo2.png" />
							<p></p>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Dịch vụ</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Tổ chức tiệc và sự kiện</a></li>
								<li><a href="#">Đặt dịch vụ</a></li>
								<li><a href="#">Hoạt động</a></li>
								<li><a href="#">Tiếp cận</a></li>
							</ul>
						</div>
					</div>

					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Về chúng tôi</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Thông tin liên  hệ</a></li>
								<li><a href="#">Địa chỉ</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3 col-sm-offset-1">
						<div class="single-widget">
							<h4>Nhập email của bạn để được tư vấn</h4>
							<form action="#" class="searchform">
								<input type="text" placeholder="Your email address" />
								<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2024 - Van Phan.</p>
					<p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum and Edit by HoaiAnhPhan</a></span></p>
				</div>
			</div>
		</div>

	</footer><!--/Footer-->



	<script src="~/js/jquery.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/jquery.scrollUp.min.js"></script>
	<script src="~/js/price-range.js"></script>
	<script src="~/js/jquery.prettyPhoto.js"></script>
	<script src="~/js/main.js"></script>
	<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
	<df-messenger intent="WELCOME"
				  chat-title="DVTC_VanPhan"
				  agent-id="97e3c318-962f-41d0-837e-2ea3d3cae4d3"
				  language-code="vi"></df-messenger>

	@await RenderSectionAsync("Scripts", required: false)

</body>
</html>