
<div class="left-sidebar">
    <h2>Các dịch vụ</h2>
	<div class="brands_products">
		<div class="panel-group category-products" id="accordian">
            <vc:service-categories></vc:service-categories>
		</div><!--/category-products-->
	</div>
</div>