@{
    ViewData["title"] = "Xác nhận đăng ký thành công";
    Layout = "_Layout";
}
<h2>Xác nhận đăng ký thành công</h2>
<a asp-action="Login" asp-controller="Account">Bạn click vào đây để đăng nhập</a>
