@model PartyModel
@{
    ViewData["title"] = "Đặt tiệc";
	Layout = "_Template";
}
<section id=""> <!--form--> 
    <div class="container"> 
        <div class="row">
			<div class="col-sm-8 col-sm-offset-1">
				<div class="signup-form">
					<!--sign up form-->
					<h2>ĐẶT TIỆC</h2>
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<form asp-controller="DatTiec" asp-action="Create">

						<div class="form-group">
							<label>Ngày tổ chức tiệc</label>
							<input id="OrgDate" asp-for="OrgDate" class="form-control" type="date" placeholder="dd/mm/yyyy" />
							<span asp-validation-for="OrgDate" class="text-danger" />
						</div>
						<div class="form-group">
							<label>Giờ cụ thể </label>
							<input asp-for="Time" class="form-control" placeholder="trong 24 giờ theo giờ Việt Nam" />
							<span asp-validation-for="Time" class="text-danger" />
						</div>

						<div class="form-group">
							<label>Số lượng khách mời</label>
							<input asp-for="CusNumber" class="form-control" min="0" />
							<span asp-validation-for="CusNumber" class="text-danger" />
						</div>
						<div class="form-group">
							<label>Loại tiệc</label>
							<select asp-for="PartyCategoryId" class="form-control" asp-items="ViewBag.PartyCategories">
								<option>--Chọn loại tiệc</option>
							</select>
							<span asp-validation-for="PartyCategoryId" class="text-danger" />
						</div>
						<div class="form-group">
							<label>Địa điểm tiệc</label>
							<select asp-for="LocationId" class="form-control" asp-items="ViewBag.Location">
								<option>--Chọn loại địa điểm</option>
							</select>
							<span asp-validation-for="LocationId" class="text-danger" />
						</div>

						<div class="form-group">
							<label>Nhập địa chỉ cụ thể</label>
							<input asp-for="LocationName" class="form-control" placeholder="số nhà,xã/phường/thị trấn,huyện/quận,tỉnh/TP"/>
							<span asp-validation-for="LocationName" class="text-danger" />
						</div>
						<div class="form-group">
							<label>Số điện thoại liên hệ</label>
							<input asp-for="PhoneNumber" class="form-control" />
							<span asp-validation-for="PhoneNumber" class="text-danger" />
						</div>
						<div class="form-group">
							<label>Số lượng khách trên bàn tiệc</label>
							<input asp-for="PersonTable" class="form-control" min="0" max="15" />
							<span asp-validation-for="PersonTable" class="text-danger" />
						</div>
						@{
							var menus = ViewBag.Menus as List<MenuModel>;
						}

						<div class="form-group">
							@if (menus != null)
							{
								<label>Menu</label>
								@foreach (var menu in menus)
								{
									<div class="form-check">
										<input class="form-check-input" type="radio" asp-for="MenuParty" value="@menu.Id">
										<div class="col-sm-4">
											<div class="single-products">
												<div class="productinfo text-center">
													<p>@menu.Name</p>
													<p>@menu.Price.ToString("N0") đ</p>
													<p>Số lượng món: @menu.Quantity</p>
												</div>
											</div>
										</div>
									</div>

								}
							}
							<span asp-validation-for="MenuParty" class="text-danger"></span>
						</div>
						
						<div class="form-group">
							<label>Ghi chú</label>
							<input asp-for="Note" class="form-control" />
							<span asp-validation-for="Note" class="text-danger" />
						</div>
						<div><button type="submit" class="btn btn-default">ĐĂNG KÝ</button></div>

					</form>
				</div><!--/sign up form-->
			</div>
		</div>
	</div>
</section><!--/form-->
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
	<script>
		CKEDITOR.replace('Note');
	</script>
	<script>
		var orgDateInput = document.getElementById("OrgDate");
		var today = new Date().toISOString().split("T")[0];
		orgDateInput.setAttribute("min", today);
	</script>
}
