@using Microsoft.AspNetCore.Identity
@model IdentityRole
@{
    ViewData["title"] = "Thêm mới Quyền";
}
<h3>Thêm mới Quyền</h3>
<div class="col-md-9">
    <form asp-action="CreateRole" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label>Mã quyền </label>
            <input asp-for="Id" class="form-control" />
            <span asp-validation-for="Id" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Tên quyền </label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger" />
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Cập nhật</button>
        </div>

    </form>
    <a asp-action="Index">Trở về</a>
</div>