@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>
@{
    ViewData["title"] = "Danh sách Quyền";
}
<h3>Danh sách Quyền</h3>
<a asp-action="Create" asp-controller="AppRole">Thêm mới Quyền</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col"># </th>
            <th scope="col">Tên quyền</th>
            <th scope="col">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null && Model.Any())
        {
            var i = 1;
            @foreach (var item in Model)
            {
                <tr>
                    <td scope="row">@i</td>
                    <td>@item.Name</td>
                    <td>
                        <a asp-action="Edit" class="btn btn-warning btn-sm" asp-controller="AppRole" asp-route-Id="@item.Id">Sửa</a>
                        <a asp-action="Delete" class="btn btn-danger btn-sm confirmDeletion" asp-controller="AppRole" asp-route-Id="@item.Id">Xóa</a>

                    </td>
                </tr>
                i++;
            }
        }

    </tbody>
</table>
